.row {
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.conteudo_inserido{
    flex: 1;
    flex-direction: column;
    padding: 5px;
    text-align: start;
    align-items: baseline;
    width: 100%;
}

.conteudo_inserido input{
    flex: 1;
}

.drop-area {
    width: 100%; /* Define a largura da área de drop como 90% da tela */
    min-height: 600px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fafafa;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.drop-area.dragover {
    background-color: #e3f2fd;
    border-color: #2196f3;
}

.form_row {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px dashed #bbb;
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
}

.form_row:hover{
    border: 2px dashed #B0C4DE;
}

.btn-remove {
    margin-top: 5px;
    margin-right: 5px;
}

.btn-move{
    margin-top: 5px;
}

.components-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-fluid {
    width: 100%; /* Define a largura desejada */
    margin: 0 auto; /* Centraliza o container */
}

.remove-row-button{
    margin-bottom: 10px;
}

.btn-edit{
    margin-top: 5px;
    margin-right: 5px;
}

.buttons-container {
    display: flex; /* Usando flexbox para alinhar os botões */
    margin-bottom: 20px;
    margin-top: 5px;
}

.buttons-container .btn {
    flex: 1; /* Faz com que todos os botões ocupem o mesmo espaço */
    margin: 0 5px; /* Adiciona uma margem entre os botões */
}

.list-group{
    max-height: 550px; 
    overflow-y: auto; 
}

.botao-componente{
    width: 100%;
}

.control-buttons {
    transition: display 0.2s ease-in-out;
}

.botaoEdicaoFormulario{
    margin-top: 10px;
}